* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
}

.container {
  width: 517px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  display: inline-flex;
  align-items: flex-end;
}

.form input,
.form_btn-ok{
  border: 1px solid #3F3F3F;
  border-radius: 11px;
}

.form input {
  width: 185px;
  height: 44px;
  margin-top: 15px;
  padding-left: 10px;
}

.form_btn-ok {
  background-color: inherit;
  text-transform: uppercase;
  padding-left: 32px;
  padding-right: 32px;
  height: 48px;
}

.form .error { border: 2px solid red; }

.list { margin-top: 29px; }

.list-header {
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 45px;
  padding-bottom: 27px;
}

.list-wrap {
  padding-top: 27px;
  padding-left: 35px;
  padding-right: 57px;
  border: 1px solid #3F3F3F;
  border-radius: 21px;
}

li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 36px;
}

li button {
  font-weight: 900;
  border: none;
  background-color: inherit;
}
